# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Environment variables
*.env
api_key.txt

# MacOS files
.DS_Store

# IDE directories
.idea/
.vscode/

# Logs
logs/
*.log

# Database files
*.sqlite3

# Uploads and downloads
uploads/
downloads/

# Other
*.swp
